body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0;
}
.salam{
    font-size: 50px;
    margin-left: 5%;
    margin-top: 100px;
}
.skip{
    color: orangered;
}


h1{
    font-size: 3vw;
    

}
.first{
    display: flex;
    width: 100%;
}
.img-size{
    width: 100%;
}

    
.img{
    width: 100%;
    margin-right: 5%;

    
    
}
.first-div{
    margin: 10% 5%;
    width: 100%;
    
    
}
.highper{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 30px;
    
}
.botton{
    margin-top: 50px;
}
.top-banner{
    display: flex;
    width: 100%;
    
    
}
.img-2{
    width: 100%;
}
.aboute{
    width: 100%;
}

.recipies{
   
    width: 100%;
}
.img-2 img{
    width: 100%;
}


.text{
    text-align: center;
    
}
.text-p{
    font-size: 15px;
    text-align: center;
    

}
.img-two{
    width: 70%;
    height: 300px;
    padding-left: 10px;
    padding-top: 20px;
    margin-right: 5%;
}
.img-three{
    width: 70%;
    height: 300px;
    padding-left: 20%;
    padding-top: 20px;
    margin-left: 20px;
}
.last{
    display: flex;
    margin: 0 5%;
    
    
    
    
}
.sawdo{
    box-shadow: 10px 10px 40px rgb(197, 197, 197);
    text-align: center;
   
   
    width: 100%;
    margin: 0 5%;
   
    margin-top: 5%;
    
    padding-bottom: 20px;
    border-radius: 50px;
}
.sfl{
    display: flex;
    box-shadow: 5px 5px 100px rgb(214, 209, 209);
    
    ;
   
    margin-top: 7%;
   
    padding-bottom: 20px;
    border-radius: 50px;
    margin-bottom: 8%;
    text-align: center;
    margin: 5% 10%;
}
    

.like{
    margin: 0 10%;
    width: auto;
    

}
.center{
    text-align: center;
    font-size: 3vw;
}
.small{
   text-align: center;
   font-size: 2vw;
   
}
.end{
    color: rgb(255, 255, 255);
    text-align: center;
    
   
}
footer{
    background-color:  black;
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 0%;
}
@media only screen and ( max-width: 688px) {
    .salam{
        font-size: 10vw;
    }
    .first{
        flex-direction: column;
        
    }
    .first-div{
        width: 80%;
    }
    h1{
        font-size:7vw;
    }
    .top-banner{
        flex-direction: column-reverse;
    }
    .last{
        flex-direction: column;
        margin-right: 13%;
    }
    .sfl{
        flex-direction: column;
    }
    .center{
        font-size: 20px;
    }
    
}




