body{
    font-family: 'Poppins', sans-serif;
}
.skip{
    color: orangered;
}
h1{
    font-size: 60px;
    height: 50px;

}
.first{
    display: flex;
    margin: 0%;
}

    
.img{
    width: 600px;
    margin-right: 5%;

    
    
}
.first-div{
    margin: 10% 5%;
    
}
.highper{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 30px;
    
}
.botton{
    margin-top: 50px;
}
.top-banner{
    display: flex;
    
    
}
.recipies{
    padding: 50px;
}



.text{
    text-align: center;
    
}
.text-p{
    font-size: 15px;
    text-align: center;
    height: 5px;

}
.img-two{
    width: 400px;
    height: 300px;
    padding-left: 10px;
    padding-top: 20px;
    margin-right: 5%;
}
.img-three{
    width: 400px;
    height: 300px;
    padding-left: 20%;
    padding-top: 20px;
    margin-left: 20px;
}
.last{
    display: flex;
    padding-left: 20px;
    
    
    
}
.sawdo{
    box-shadow: 10px 10px 40px;
    margin-left: 5%;
    margin-right: 5%;
   
    margin-top: 5%;
    padding-left: 20px;
    padding-bottom: 20px;
}
#fast-id{
    padding: auto;
}


