body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.salam{
    font-size: 50px;
    margin-left: 5%;
    margin-top: 100px;
}
.skip{
    color: orangered;
}
h1{
    font-size: 60px;
    height: 50px;

}
.first{
    display: flex;
    margin: 0%;
}

    
.img{
    width: 580px;
    margin-right: 5%;

    
    
}
.first-div{
    margin: 10% 5%;
    
}
.highper{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 30px;
    
}
.botton{
    margin-top: 50px;
}
.top-banner{
    display: flex;
    
    
}
.recipies{
    padding: 50px;
}



.text{
    text-align: center;
    
}
.text-p{
    font-size: 15px;
    text-align: center;
    height: 5px;

}
.img-two{
    width: 400px;
    height: 300px;
    padding-left: 10px;
    padding-top: 20px;
    margin-right: 5%;
}
.img-three{
    width: 400px;
    height: 300px;
    padding-left: 20%;
    padding-top: 20px;
    margin-left: 20px;
}
.last{
    display: flex;
    padding-left: 20px;
    
    
    
}
.sawdo{
    box-shadow: 10px 10px 40px rgb(197, 197, 197);
    margin-left: 5%;
    margin-right: 5%;
   
    margin-top: 5%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}
.sfl{
    display: flex;
    box-shadow: 5px 5px 100px rgb(214, 209, 209);
    margin-left: 9%;
    margin-right: 8%;
   
    margin-top: 7%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-bottom: 8%;
}
    

.like{
    margin-left: 223px;

}
.center{
    font-size: 34px;
}
.small{
    padding-right: 10px;
}
.end{
    color: rgb(255, 255, 255);
    text-align: center;
    
   
}
footer{
    background-color:  black;
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 0%;
}




