body{
    font-family: 'Poppins', sans-serif;
}
.skip{
    color: orangered;
}
h1{
    font-size: 60px;
    height: 50px;

}
.first{
    display: flex;
    margin: 0%;
}

    
.img{
    width: 600px;
    margin-right: 5%;

    
    
}
.first-div{
    margin: 10% 5%;
    
}
.highper{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 7px;
}